<%- layout('./layout/wrapper') %>
<main>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/images/img1.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item active">
            <img src="/images/img2.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img4.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/img6.webp" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bg-black rounded-md p-4" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon bg-black rounded-md p-4" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <section class="flex items-center justify-center h-screen transition-transform duration-500 ease-in-out hover:scale-110">
        <h1 class="text-4xl font-bold text-gray-800">Explore the Latest Tech with the Cheaper Prices</h1>
    </section>

    <section class="text-center py-10">
        <h1 class="text-4xl font-bold text-gray-800 mb-10 transition duration-500 transform hover:text-blue-500">Our Best Selling Products</h1>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-6xl mx-auto">
          <% featuredProducts.forEach(product => { %>
            <a href="/productDescription/<%= product._id %>">
              <div class="bg-white shadow-lg rounded-lg p-6 transition duration-500 transform hover:scale-105">
                <img src="<%= product.image %>" alt="<%= product.model %>" class="w-full mb-4">
                <h2 class="text-xl font-semibold"><%= product.model %></h2>
                <p class="text-gray-600"><%= product.variant %> - <%= product.specs.join(', ') %></p>
              </div>
            </a>
          <% }) %>
        </div>
        <a href="/products"><button class="mt-10 bg-blue-500 text-white px-6 py-3 rounded-lg font-semibold hover:bg-blue-600">See All</button></a>
    </section>
</main>